<div class="modal">
  <h2>Населенный пункт</h2>
  <p class="modal__instruction">
    Вам будут показаны товары, а также условия доставки для выбранного
    населенного пункта.
  </p>
  <label class="modal__input-wrapper" for="">
    Населенный пункт
    <input
      #input
      class="modal__input"
      type="text"
      (input)="searchLocations(input.value)"
      [(ngModel)]="locationInputValue"
    />
  </label>

  <div *ngIf="cityList$ | async" class="modal__location-list-wrap">
    <ul class="modal__location-list">
      <li
        *ngFor="let city of cityList$ | async"
        class="modal__location-list-item"
        (click)="chooseLocation(city.name)"
      >
        {{ city.name }}
      </li>
    </ul>
  </div>
  <input
    class="modal__submit-btn"
    type="submit"
    color="primary"
    value="Сохранить"
    (click)="submitLocation(input.value)"
  />
  <button mat-button class="modal__close-btn" (click)="closeModal()"></button>
</div>
